{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "@src": "./src",
          "@src/desktop": "./desktop",
          "@src/mobile": "./mobile"
        }
      }
    ]
  ]
}